.gallerycontent{
    background-color:rgb(255, 255, 255);
    width: 90%;
    padding-top: 15px;
    padding-bottom:15px;
    margin: 0 auto;
        margin-top: 0px;
        margin-right: 30px;
        margin-left: 50px;
    position:relative;
    
    }
.grow{
    background-color: black;
    width:1340px;
    height:1200px;

}
.gallery {
        margin: 20px;
        /*border: 1px solid #ccc;*/
        float: left;
        width: 100%;
      }
/*div.gallery img {
        width: 100%;
        height: auto;
      }*/

/*#myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
      }*/
      
#myImg:hover {opacity: 0.6;}

.gallery2{
    margin: 5px;
    position:absolute;
    top:-50;
    right:100px;
  }
  .gallery1{
    margin: 5px;
    position:absolute;
    top:-50;
  }

